<form class="col-md-4 offset-md-4"
      [formGroup]="pswResetForm"
      (ngSubmit)="sendForm()">
  <img class="rounded mx-auto d-block"
       src="../assets/logo.svg"
       width="100"
       height="100" />
  <div class="form-group">
    <label>Email</label>
    <input class="form-control"
           formControlName="email" />
    <small *ngIf="isEmailEmpty"
           class="text-danger">Email cannot be empty</small>
    <small *ngIf="isEmailValid"
           class="text-danger">Invalid email format</small>
  </div>
  <div class="form-group">
    <small class="text-danger">{{error}}</small>
  </div>
  <button class="btn btn-primary btn-lg"
          [disabled]="pswResetForm.invalid || pswResetForm.disabled">Reset</button>
</form>
